@model IEnumerable<DataAccess.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}


<h4>😍 <strong>Clientes</strong></h4>

<p style="font-size:x-large">
    <a style="color:antiquewhite" asp-action="Create">Criar novo cliente</a>
</p>
<table class="table aclass">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NIF)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NIF)
            </td>
            <td>
                <a style="color:antiquewhite" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a style="color:antiquewhite" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a style="color:antiquewhite" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
