@model IEnumerable<DataAccess.Models.Localizacao>

@{
    ViewData["Title"] = "Index";
}


<h4>📍 <strong>Localizações</strong></h4>
<p>
    <a style="color:antiquewhite" asp-action="Create">Criar localizações</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descrição)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descrição)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                <a style="color:antiquewhite" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a style="color:antiquewhite" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a style="color:antiquewhite" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
