@model EventoModelView
@{

    DateTime MinTime = new DateTime(2020, 01, 01, 8, 0, 0);
    DateTime MaxTime = new DateTime(2020, 01, 01, 20, 0, 0);
    DateTime DefaultTimeStart = new DateTime(2020, 01, 01, 09, 0, 0);
    DateTime DefaultTimeEnd = new DateTime(2020, 01, 01, 18, 0, 0);
    ViewData["Title"] = "Index";
}


<div class="e-content">
    <ejs-dialog id="DialogInternal"
                enableResize="true"
                created="CreatedDialogInternal"
                allowDragging="true"
                enablePersistence="true"
                enableHtmlSanitizer="true"
                footerTemplate="<button id='btdialogInternal' class='e-control e-btn e-primary e-success'> Criar Evento </button>"
                showCloseIcon="true" close="true" cssClass="dialog-gant-min-height" height="350" width="750" header="" visible="false">

        <e-content-template>
            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">

                <div class="row" style="margin-bottom:10px">
                    <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                        <ejs-dropdownlist id="ddColaborador"
                                          floatLabelType="Always"
                                          placeholder=" Colaborador"
                                          dataSource="@Model.Colaboradores"
                                          value="@("")" index="2">
                            <e-dropdownlist-fields text="Description" value="Id"></e-dropdownlist-fields>
                        </ejs-dropdownlist>



                    </div>
                    <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                        <ejs-dropdownlist id="ddTipoServico"
                                          floatLabelType="Always"
                                          placeholder=" Tipo de serviço"
                                          dataSource="@Model.TiposDeServico"
                                          enabled=false
                                          value="Model.TiposDeServico.FirstOrDefault().Id" index="2">
                            <e-dropdownlist-fields text="Description" value="Id"></e-dropdownlist-fields>
                        </ejs-dropdownlist>
                    </div>
               @*     <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                        <ejs-dropdownlist id="ddLocalizacao"
                                          floatLabelType="Always"
                                          placeholder=" Localizacao"
                                          dataSource="@Model.Localizacoes"
                                          value="@("")" index="2">
                            <e-dropdownlist-fields text="Description" value="Id"></e-dropdownlist-fields>
                        </ejs-dropdownlist>
                    </div>*@
                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                        <ejs-datepicker id="DialogInternDate" placeholder="📅 Data"
                                        value="DateTime.Now.AddDays(-1)" allowEdit="false"
                                        format="yyyy/MM/dd"
                                        serverTimezoneOffset="1"
                                        floatLabelType="Always"></ejs-datepicker>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                        <ejs-timepicker enabled=false id="TimeStart"  floatLabelType="Always" value="DefaultTimeStart"  max="MaxTime" min="MinTime" placeholder="Inicio 🕙" openOnFocus="true" format="H:mm" step="15"></ejs-timepicker>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                        <ejs-timepicker enabled=false id="TimeEnd" floatLabelType="Always"  value="DefaultTimeEnd"  max="MaxTime" min="MinTime" placeholder="Fim 🕙" openOnFocus="true" format="H:mm" step="15"></ejs-timepicker>
                    </div>
                </div>
               @* <div class="row">
                    <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                        <ejs-dropdownlist id="ddCliente"
                                          placeholder="Cliente"
                                          floatLabelType="Always"
                                          dataSource="@Model.Clientes"
                                          value="@("")" index="2">
                            <e-dropdownlist-fields text="Description" value="Id"></e-dropdownlist-fields>
                        </ejs-dropdownlist>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                        Rating : 0
                    </div>
                    <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                        <ejs-dropdownlist id="ddStatus"
                                          placeholder="Estado"
                                          floatLabelType="Always"
                                          dataSource="@Model.ListStatus"
                                          enabled="false"
                                          value="1" index="2">
                            <e-dropdownlist-fields text="Description" value="IdInt"></e-dropdownlist-fields>
                        </ejs-dropdownlist>
                    </div>
                </div>*@

            </div>


        </e-content-template>
    </ejs-dialog>
</div>

<script>
    function CreatedDialogInternal(args) {



        document.getElementById("btdialogInternal").addEventListener('click', function () {


            SaveEvent();




        });
    }


    function SaveEvent() {

        var toastObj;

        var DateEvent = document.getElementById("DialogInternDate").ej2_instances[0].value;
        var TimeStart = document.getElementById("TimeStart").ej2_instances[0].value;
        var TimeEnd = document.getElementById("TimeEnd").ej2_instances[0].value;

        let ObjectSend = {
            Id:"",
            Descricao: "N/A",
            Date: DateEvent.toISOString(),
            StartDate: ej.data.DataUtil.dateParse.addSelfOffset(TimeStart).toISOString() ,
            EndDate: ej.data.DataUtil.dateParse.addSelfOffset(TimeEnd).toISOString(),
            IdCliente: "21b713a5-ff72-4785-9421-96ac488c7c66",
            IdLocalizacao: "e817b372-63a6-48ac-a856-cc0d3fef368d",
            IdTipoServico: document.getElementById("ddTipoServico").ej2_instances[0].value,
            Obs: "N/A",
            Rating: 1,
            Status: 1,
            IdColaborador: document.getElementById("ddColaborador").ej2_instances[0].value
        };



        $.ajax({
            type: 'POST',
            url: '/Ausencias/SaveEvent',
            async: true,
            data: ObjectSend,
            success: function (dados) {

                debugger
                if (dados.error == false) {

            var toast = new ej.notifications.Toast({
                    title: '✔' + '',
                content: dados.message,
                cssClass: 'e-toast-success',
                icon: 'e-success toast-icons',
                position: { X: "Right", Y: "Top" }
        });
                    toast.appendTo('#divToShowToast');
                    toast.show();


                } else {
                    alert('Erro')
                }



            },
            error: function (data, success, error) {
                alert('Erro')
            }
        });



    }



</script>